body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#filters {
    text-align: center;
    margin-bottom: 20px;
}

#filters button {
    margin: 5px;
}

.menuItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.menuItem h3 {
    margin-top: 0;
}

.menuItem p {
    margin-bottom: 0;
}


